/* Bacground Image */
body, html {
    height: 100%;
}
.bg {
    background-image: url("images/background.jpg");
    height: 100%;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
  }

h4 {
    color: black;
    Margin: 10px auto;
    padding-top: 20px;
    text-align: left;
}
.imgmax {
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
    padding-left: 20px;
    max-width: 200px;
    width: auto;
}
.bg-dark{
    background-color:#2c2126 !important;
}
p {
    padding-left:20px;
}

.aboutMe {
    background-color: white; 
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.portfolioList {
    list-style-type:none;
    padding-inline-start: 0px;
}

.portfolioCard {
    background-color: lightgrey;
    border-radius: 5px;
    margin: 10px;
    align-items: center;
}

.img-section{
    width:100%;
    height:200px;
}
.text {
    height: 380px;
}
.otherInforLinks {
    padding-left: 20px;
    margin-bottom: 1rem;
}
.img-port {
    height:200x;
    padding: 20px;
    max-width: 400px;
    box-sizing: border-box;
}
.imgSize {
    height: auto;
    width: auto;
    max-height: 200px;
    max-width: 200px;
}
.centered {
    margin-left: 16px;
    width: 360px;
    text-align: center;
    font-size: 24pt;
    color: black;
    background-color: tan;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer {
    height: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 8pt;
    color: white !important;
    padding: 10px;
    text-align: center;
    margin-top: auto;
 }

#page-content {
    flex: 1 0 auto;
  }

#sticky-footer {
    flex-shrink: none;
    height: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 8pt;
    color: white !important;
    padding: 10px;
    text-align: center;
    margin-top: auto;
}

