/* Bacground Image */
body, html {
    height: 100%;
}
  .bg {
    /* The image used */
    background-image: url("images/background.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
  }

h4 {
    color: black;
    Margin: 10px auto;
    padding-top: 20px;
    text-align: left;
}
.imgmax {
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
    padding-left: 20px;
    max-width: 200px;
    width: auto;
}
p {
    padding-left:20px;
}

.container {
    background-color: white; 
    padding: 20px;
    margin: 20px;  
}

.img-section{
    width:100%;
    height:200px;
}
.text {
    height: 380px;
}

.img-port {
    height:200x;
    padding: 20px;
    max-width: 400px;
    box-sizing: border-box;
}

/* Index Page Only - Social Media Buttons */

.btn.btn-social-icon {
    width: 50px;
    height: 50px;
    padding: 0;
}

.template-demo>.btn {
    margin-right: 0.5rem !important
}

.template-demo {
    margin-top: 0.5rem !important
}

.btn.btn-rounded {
    border-radius: 50px;
    margin-right: 0.5rem !important;
    margin-top: 0.5rem !important;
}

.btn-outline-facebook {
    border: 1px solid #3b579d;
    color: #3b579d
}

.btn-outline-facebook:hover {
    background: #3b579d;
    color: #ffffff
}

.btn-outline-youtube {
    border: 1px solid #e52d27;
    color: #e52d27
}

.btn-outline-twitter {
    border: 1px solid #2caae1;
    color: #2caae1
}

.btn-outline-linkedin {
    border: 1px solid #0177b5;
    color: #0177b5
}

.btn-outline-instagram {
    border: 1px solid #dc4a38;
    color: #dc4a38
}

.btn-outline-twitter:hover {
    background: #2caae1;
    color: #ffffff
}

.btn-outline-linkedin:hover {
    background: #0177b5;
    color: #ffffff
}

.btn-outline-youtube:hover {
    background: #e52d27;
    color: #ffffff
}

.btn-outline-instagram:hover {
    background: #e52d27;
    color: #ffffff
}

.btn-facebook {
    background: #3b579d;
    color: #ffffff
}

.btn-youtube {
    background: #e52d27;
    color: #ffffff
}

.btn-twitter {
    background: #2caae1;
    color: #ffffff
}

.btn-linkedin {
    background: #0177b5;
    color: #ffffff
}

.btn-instagram {
    background: #dc4a38;
    color: #ffffff
}

.btn-facebook:hover,
.btn-facebook:focus {
    background: #2d4278;
    color: #ffffff
}

.btn-youtube:hover,
.btn-youtube:focus {
    background: #c21d17;
    color: #ffffff
}

.btn-twitter:hover,
.btn-twitter:focus {
    background: #1b8dbf;
    color: #ffffff
}

.btn-linkedin:hover,
.btn-linkedin:focus {
    background: #015682;
    color: #ffffff
}

.btn-instagram:hover,
.btn-instagram:focus {
    background: #bf3322;
    color: #ffffff
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
 }
